html {
	overflow-x: hidden;
	overflow-y: hidden;
}

.topcoat-button--large {
	width: 45px;
	height: 45px;
	font-size: 100%;
	-webkit-transition: .6s ease;
}


.topcoat-button {
	font-size: 100%;
	-webkit-transition: .6s ease;
}


#logo {
	height: 120px;
	width: 480px;
	min-height: 120px;
	min-width: 480px;
	max-height: 120px;
	max-width: 480px;
	opacity: 1;
	-webkit-transition: 1.5s ease;
}

#logo:hover {
	opacity: .7;
}

.colourPanel {
	display: inline-block;
}


#palettes {
	overflow-x: hidden;
	overflow-y: scroll;

}

.paletteHolder {
	height: 80px;
	width: 480px;
	min-height: 80px;
	min-width: 480px;
	max-height: 80px;
	max-width: 480px;
	-webkit-transition: .9s ease;
	display: inline-block;
}


.paletteHolder:hover {
	opacity: .6;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(10,10,10,1); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(20,20,20,0.4); 
}